
.contact-info-wrapper {

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .contact-box-item {
        border: 1px solid $border-color;
        padding: 60px 75px;
        text-align: center;
        border-radius: 10px;
        margin-top: 30px;
        
        .icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50px;
            background: #F1F5FF;
            color: #336AEA;
            margin: 0 auto;
            margin-bottom: 20px;
    
            i {
                font-size: 18px;
            }
        }
    
        .content {
    
            h5 {
                font-size: 19px;
                font-weight: 500;
            }
    
            p {
                font-size: 15px;
                color: #525252;
            }
    
            h6 {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.contact-form-items {
    padding: 100px 150px;
    border-radius: 10px;
    border: 1px solid #EEEDED;
    background: $white;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);

    @include breakpoint (max-xl){
        padding: 60px 80px;
    }

    @include breakpoint (max-lg){
        padding: 60px 70px;
    }

    @include breakpoint (max-md){
        padding: 50px 40px;
    }

    @include breakpoint (max-sm){
        padding: 40px 30px;
    }

    .content {
        margin-bottom: 30px;

        .title {
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            color: #525252;
        }
    }

    .form-clt {
        input,textarea {
            width: 100%;
            outline: none;
            border: none;
            background-color: transparent;
            border: 1px solid $border-color;
            border-radius: 5px;
            @include transition;
            color: #A1A1A1;
            font-size: 16px;
            padding: 18px 14px;
            line-height: 1;

            &::placeholder {
                color: #A1A1A1;
            }
        }

        textarea {
            padding-bottom: 140px;
            resize: none;
        }
    }

    .theme-btn {
        background-color: #336AEA;
        color: $white;
        @include transition;
        border: none;

        &:hover {
            background-color: $header-color;
        }
    }
}

.map-area {
    
    iframe {
        width: 1150px;
        height: 416px;
        border-radius: 20px;
    }
}
